.user {
    width: 135px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    background-color: aqua;
}
.user--dark-theme {
    background: black;
}
.user--dark-theme .user__name {
    color: darkmagenta;
}
.user__name {
    font-weight: bolder;
    text-align: center;
    font-size: 2.9rem;
    padding: 10px 0;
    color: blue;
}
.button {
    width: 100%;
    color: orange;
    background-color: red;
    padding: 7px 12px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.button:active {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}
